 h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color:  h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:pink;
}

p{
 font-family: verdana;
}

body {

}
    background-color:yellow
}

}
