 h1{
<link rel="stylesheet" href="/style.css" />

  font-family: verdana;
  color:red;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
      background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-color: #cccccc;
}
}
